<form (submit)="cadastrarAluno($event)">

    <h1>Informações Aluno</h1>

    <input type="text" [formField]="alunoForm.nome" placeholder="Digite o nome do aluno">
    @if (alunoForm.nome().touched() && alunoForm.nome().invalid()) {
        @for (error of alunoForm.nome().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }

    <input type="text" inputmode="numeric" [formField]="alunoForm.media" placeholder="Digite a média">

    @if (alunoForm.media().touched() && alunoForm.media().invalid()) {
        @for (error of alunoForm.media().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }

    <button [disabled]="alunoForm().invalid()" id="cadastra">Cadastrar Aluno</button>

</form>

<div>
    @for (aluno of alunos(); track aluno.nome) {

        <div id="cadastro">
                <p>{{aluno.nome}}</p>
                <p>{{aluno.media}}</p>

            @if (aluno.media !== null) {

               @if (aluno.media >= 7) {
                <p style="color: green;">Aprovado</p>
            } @else {
                <p style="color: red;">Reprovado</p>
            } 

            }
            
        </div>
    }
</div>