<section class="exemplo-get">
    <h2>Get:</h2>
    <button (click)="recarregarPosts()">Recarregar</button>
    <div class="gets">

        

        @if (consumoService.postsDetails.isLoading()) {
            <p>Carregando...</p>
        } @else if (consumoService.postsDetails.error()) {
            <p>Deu erro</p>
            

        }
        @else  if(consumoService.postsDetails.hasValue()) {
            @for (post of consumoService.postsDetails.value(); track post.id) {
                <div class="get">
                    <h3>{{post.title}}</h3>
                    <p>{{post.body}}</p>
                </div>
            }
        }
  
    </div>

</section>