:host{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.get{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 200px;
}

.get:hover{
    background: rgba(248, 247, 247, 0.164);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
    padding: 20px;
    transform: scale(1.02);
}

h1{
    padding: 10px;
}