:host{
    display: flex;
    gap: 10px;
}

div{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.3s ease;
    backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

div:hover{
    background: rgba(248, 247, 247, 0.164);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
    padding: 20px;
    transform: scale(1.02);
}