<section class="exemplo-delete">
    

    <form submit="excluirUsuario($event)">
        <legend>Exemplo delete</legend>

        
                <!-- ID de usuário -->
                
                <input id="id" type="text" placeholder="ID" [formField]="putForm.id">
                @if (putForm.id().touched() && putForm.id().invalid()) {
                    @for (error of putForm.id().errors(); track error.kind) {
                        <span class="required">{{error.message}}</span>
                    }
                }
            

            
                <!-- UserID de usuário -->
                
                <input id="userId" type="text" placeholder="UserID" [formField]="putForm.userId">
                @if (putForm.userId().touched() && putForm.userId().invalid()) {
                    @for (error of putForm.userId().errors(); track error.kind) {
                        <span class="required">{{error.message}}</span>
                    }
                }
            

            
                <!-- Title -->
                
                <input id="title" type="text" placeholder="Title" [formField]="putForm.title">
                @if (putForm.title().touched() && putForm.title().invalid()) {
                    @for (error of putForm.title().errors(); track error.kind) {
                        <span class="required">{{error.message}}</span>
                    }
                }
            

            
                <!-- Body -->
                
                <input id="body" type="text" placeholder="Body" [formField]="putForm.body">
                @if (putForm.body().touched() && putForm.body().invalid()) {
                    @for (error of putForm.body().errors(); track error.kind) {
                        <span class="required">{{error.message}}</span>
                    }
                }
        
        

        <button>Deletar</button>
    </form>

</section>
