

body{
    background-color: #909eae;
    background-image: linear-gradient(147deg, #909eae 0%, #a7a6ba 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Stack Sans Headline", sans-serif;
    color: white;
}

